# LaTeX output files
*.aux
*.log
*.synctex.gz
*.toc

# Bibliography files
*.bbl
*.blg

# Compiled files
*.dvi

# LaTeX editor files
*.bak
*.swp
*.synctex(busy)

# Other temporary files
*.out
*.fdb_latexmk
*.fls
*.gz
*.lof
*.lot
*.nav
*.snm
*.vrb

# Auxiliary files
*.spl

# Misc
elsarticle
studies
submission_materials
figures/*.png

# Exceptions
!*.pdf
