# Ignore everything
*
.*

# Allow certain files and folders
!requirements.txt
!functions
!tests
!rpc_server.py
!rpc_client.py
!config.ini
!examples/data/multivariate/cats/
!examples/.results/
!examples/comparison_diagnostics.py
