paho-mqtt==1.6.1
pandas==1.5.3
pre-commit
git+https://github.com/MarekWadinger/river.git
scipy==1.10.0
streamz==0.6.4
streamz_pulsar==0.1.1
confluent-kafka==2.0.2
matplotlib==3.7.0
plotly==5.13.0
cryptography==41.0.3
human_security==1.0
